/target/
!.mvn/wrapper/maven-wrapper.jar
.gradle
gradle/
.build
.build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.log
gradlew
gradlew.bat
/build/

src/test/resources/*.json
